.buttonClass {
    padding: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.green {
    background-color: green;
}

.grey {
    background-color: grey;
}