.myClass {
  border: 1px solid gray;
  border-radius: 8px;
  background-color: whitesmoke;

  margin-top: 40px;
  padding: 16px;
  max-width: 200px;
}

.myClass:hover {
  background-color: wheat;
  cursor: pointer;
}

.anotherClass {
  padding: 8px;
}

button {
  border-radius: 100px;
  background-color:blue;
  border: 1px solid;
  cursor: pointer;
  color: white;
  padding: 10px;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  background-color:aqua;
  transform:translateY(-5px);
}

a {
  color:blue;
  margin-left: 10px;
}

a:hover {
  color:aqua;
}

p {
  text-indent: 20px;
}