.anotherClass {
  padding: 8px;
}

.myButton:hover {
  background-color: #64b5f6;
  transform: translateY(-5px);
}

.myButton {
  border-radius: 100px;
  background-color: #90caf9;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s ease-in-out;
  margin-top: 15px;
  padding: 15px;
  align-items: flex-start;
  width: 100px;
}

.myButtonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.myText {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 16px;
  margin-top: 25px;
}
